input[type=submit] {
    background-color: #5e72e4;
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

input[type=text] {
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.671);
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

select  {
    background-color: transparent;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.596);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.671);
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

select::-ms-expand {
    display: none;
 }

.select-folder {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input-file-video {
    display: none;
}

.btn-input-file { 
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.596);
    color: rgba(0, 0, 0, 0.596);
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

figure { width: 90%; min-width: 17.5em; margin:0 auto;}
figcaption { font: 120% sans-serif; text-align: center;}
.boxVideo {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
    margin:0 auto;
}
.boxVideo iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-resultados {
    background-color: white;
    width: 100%;
    border: none;
    color: #5e72e4;
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}