input[type=submit] {
    background-color: #5e72e4;
    border: none;
    color: white;
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

input[type=text] {
    height: 30px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.671);
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

select  {
    background-color: transparent;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.596);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.671);
    padding: 10px 24px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

select::-ms-expand {
    display: none;
 }

.select-folder {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}